.sfm-container{
	max-width: 400px;
	margin: 0 auto;
}

.sfm-menu-section{
	margin-bottom: 3em;
}

.sfm-menu-section header{
	border-bottom: 1px solid #eee;
	padding: 1em;
	position: relative;
}

.sfm-toggle-item-list{
	position: absolute;
	top: 50%;
	right: 1em;
	line-height: 0;
	cursor: pointer;
	font-size: 14px;
}

.sfm-menu-section header:after{
	content: '';
	position: absolute;
	bottom: -5px;
	height: 1px;
	width: 100%;
	background: #eee;
	left: 0;
}

.sfm-menu-section h2{
	margin: 0;
	position: relative;
}

.sfm-menu-item{
	border-bottom: 1px solid #eee;
	padding: 1em;
	transition: background .25s ease;
}

.sfm-menu-item:hover{
	background: #f8f8f8;
}

.sfm-menu-item-top h3{
	float: left;
	margin: 0;
}

.sfm-menu-item-top span{
	float: right;
	text-align: right;
}

.sfm-menu-item-desc{
	font-size: .85em;
	font-style: italic;
}

.sfm-menu-item-desc p:last-child{
	margin-bottom: 0;
}


/* js enhancements 

html.js .sfm-menu-item{
	display: none;
}

*/

.sfm-menu-links a{
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	padding: 1em;
}

.sfm-menu-links a:last-child{
	border-bottom: 0;
}